* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.header {
  background-image: linear-gradient(to right, #1e3a8a, #1d4ac9);
  position: relative;
  overflow: hidden;
}

.nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__picture {
  width: 33px;
  height: 33px;
}

.nav__img {
  width: 100%;
}

.nav__links {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
}

.nav__link {
  font-weight: 500;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
}

.nav__link:hover {
  background-color: #1d4ac9;
}

.nav__link--border {
  border: 1px solid white;
}

.info__container {
  color: white;
  text-align: center;
}

.info__title {
  font-size: 45px;
  font-weight: bold;
}

.info__paragraph {
  margin-top: 10px;
  margin-bottom: 35px;
}

.info__btn {
  padding: 10px 45px;
  background-image: linear-gradient(to right, #1e3a8a, #1d4ac9);
  border-radius: 5px;
  margin-bottom: 25px;
  font-weight: 500;
}

.info__btn:hover {
  background-color: red;
  background-image: linear-gradient(to right, #1e3a8a, #1d4ac9);
}

.header__info {
  padding-bottom: 40px;
}

.header__picture {
  padding-top: 20px;
  max-width: 500px;
}

.header__img {
  width: 100%;
}

.header__wave {
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url("../../assets/wave.svg");
  background-size: 100% 100%, cover;
  overflow: hidden;
  bottom: 0;
}

@media (min-width: 740px) {
  .header__info {
    padding-bottom: 90px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
  }

  .header__picture {
    padding-top: 0px;
  }

  .header__wave {
    height: 200px;
  }
}
